@import url('./info-code.css');

* {
  box-sizing: border-box;
}

html {
  --pw-bg-color: white;
  --pw-bg-header-color: white;
  --pw-bg-edge: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  --pw-spacing: 1rem;
  --pw-text-color: black;
  --pw-text-color-secondary: white;
  --pw-font-family: 'Curier New', Curier, monospace;
  --pw-text-size: 16px;
}

body {
  margin: 0;
  background-color: var(--pw-bg-color);
  color: var(--pw-text-color);
  font-family: var(--pw-font-family);
  font-size: var(--pw-text-size);
}

header {
  background-color: var(--pw-bg-header-color);
  position: sticky;
  top: 0;
  width: 100%;
}

.header-content {
  padding: var(--pw-spacing);
}

.gradient-border {
  height: 5px;
  background-color: #4158D0;
  background-image: var(--pw-bg-edge);
}

main {
  padding: var(--pw-spacing);;
  height: 1000px;
}

.logo {
  transition: width 0.5s;
}
